/* Index----------------------------------------------------------*/
.customizaHeading{
  margin-top: 10px;  
}





/* Login----------------------------------------------------------*/

#form{
  background-color: #CF8B60 ;
  height: 300px;
  opacity: 0.8;
  
}

#botaoEntrar{
  width: 300px;
  margin-left: 30px;
}

/* formulario----------------------------------------------------------*/

#formularioBody{
  background-image: url('../img/pomba.jpg');
}

/* ----------------------------------------------------------*/
